@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;

  font-family: "Poppins", sans-serif;

}

.heroSection .row {
  min-height: 100vh;
}

.heroHeading {
  font-size: 3rem;
  margin-top: 5px;
}

.right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.heroImage {
  max-width: 700px !important;
  margin-left: auto;
}



footer.nb-footer {
  background: #222;
  border-top: 4px solid #b78c33;
}

footer.nb-footer .about {
  margin: 0 auto;
  margin-top: 40px;
  max-width: 1170px;
  text-align: center;
}

footer.nb-footer .about p {
  font-size: 13px;
  color: #999;
  margin-top: 30px;
}

footer.nb-footer .about .social-media {
  margin-top: 15px;
}

footer.nb-footer .about .social-media xl lx a {
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  font-size: 16px;
  color: #b78c33;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

footer.nb-footer .about .social-media xl lx a:hover {
  background: #b78c33;
  color: #fff;
  border-color: #b78c33;
}

footer.nb-footer .footer-info-single {
  margin-top: 30px;
}

footer.nb-footer .footer-info-single .title {
  color: #aaa;
  text-transform: uppercase;
  font-size: 16px;
  border-left: 4px solid #b78c33;
  padding-left: 5px;
}

footer.nb-footer .footer-info-single xl lx a {
  display: block;
  color: #aaa;
  padding: 2px 0;
}

footer.nb-footer .footer-info-single xl lx a:hover {
  color: #b78c33;
}

footer.nb-footer .footer-info-single p {
  font-size: 13px;
  line-height: 20px;
  color: #aaa;
}

footer.nb-footer .copyright {
  margin-top: 15px;
  background: #111;
  padding: 7px 0;
  color: #999;
}

footer.nb-footer .copyright p {
  margin: 0;
  padding: 0;

}

.col-sm-12 p {
  display: flex;
  justify-content: center;
}

#pp {
  display: flex;
  justify-content: end;
  background: linear-gradient(90deg, rgb(13, 239, 231), #03362c);
  font-family: Poppins;
  text-transform: uppercase;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;



}
/*#textblock {
  background-color: #210002;
  height: 100vh;
}

#textblock-container {
  width: 50%;
  margin: 0 auto;
  padding-top: 70px;
} */

/*#textblock-title {
  color: #ffaf1b;
  font-size: 35px;
  font-weight: 600;
  font-family: "Helvetica Neue";
}

#textblock-content {
  color: #ffaf1b;
  font-size: 20px;
}

#textblock-footer {
  color: #ffaf1b;
  font-size: 15px;
  font-weight: 400;
  position: fixed;
  width: 100%;
  bottom: 0px;
  justify-content:center;
  align-items:center;
  text-align:center;
  margin-bottom: 20px;

}

#textblock-devsense {
  text-decoration: none;
  color: #ffaf1b;
  font-size: 15px;
  font-weight: 600;
}*/

.animation, .animation_layer {
	height: 1000px;
}

.animation {
  display: block;
	position: relative;
	z-index: 1;
  overflow: hidden;
}

.animation_layer {
	background-position: bottom center;
	background-size: auto 1038px;
	background-repeat: repeat-x;
	width: 100%;
	position: absolute;
}
/* .animation_layer.parallax {
	position: fixed;
} */

#artback {
  background-image: url(./image/backgroundparallax.png);
}

#mountain {
  background-image: url(./image/mountains.png);
}

#logoland {
  background-image: url(./image/logo_land.png);
}

#jungle1 {
  background-image: url(./image/jungle1.png);
}

#jungle2 {
  background-image: url(./image/jungle2.png);
}

#jungle3 {
  background-image: url(./image/jungle3.png);
}

#jungle4 {
  background-image: url(./image/jungle4.png);
}

#jungle5 {
  background-image: url(./image/jungle5.png);
}

#manonmountain {
  background-image: url(./image/man_on_mountain.png);
}